.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 10rem;
    padding: 0.5rem;
    width: 10rem;
}

.fa{
    margin: 0px 2px;
}

@media only screen and (max-width: 500px) {
    .rating{
        max-width: 5.5rem;
    }
    .fa-star{
        font-size: 15px;
    }
  }