.movie-card{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    min-height: 20rem;
    background-color: var(--theme-movie-card);
    box-shadow: 0px 0 10px 1px rgb(0 0 0);
    padding: 1rem 1rem 1.5rem;
    margin: 2rem;
    text-align: center;
    width: 12rem;
    max-height: 24rem;
}

.movie-card:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}

.movie-image{
    border-radius: 1rem;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}


.movies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }



.movie-label{
    width: 95%;
    margin: 1rem 0 0.8rem;
}
  @media only screen and (max-width: 700px) {
    .movie-card{
        max-width: 9rem;
        min-height: 13rem;
        margin: 2vw;
        padding: 0.5rem 0;
    }
    .movie-image{
        max-width: 90%;
    }
    .movie-label{
        font-size: calc(1.2vw + 1.5vh);
        margin: 0.3rem;
    }
  }